/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';
  /* Project id 3990626 */
  src: url('//at.alicdn.com/t/c/font_3990626_3ljd5zswtrt.woff2?t=1680693470551') format('woff2'),
    url('//at.alicdn.com/t/c/font_3990626_3ljd5zswtrt.woff?t=1680693470551') format('woff'),
    url('//at.alicdn.com/t/c/font_3990626_3ljd5zswtrt.ttf?t=1680693470551') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}